<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Alta de Usuario</h1>

      <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">

        <div class="mb-3 row">
          <label for="inputID" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputID" formControlName="id" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputdni" class="col-sm-2 col-form-label">dni</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.dni.dirty && !oForm.controls.dni.errors?.['required'] &&
            oForm.controls.dni.dirty && !oForm.controls.dni.errors?.['minlength'] 
              && oForm.controls.dni.dirty && !oForm.controls.dni.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['minlength'] 
              ||  oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['maxlength'] ||  
              oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['required']}" id="inputdni"
              formControlName="dni">
            <div id="inputdniFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputdniFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputdniFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.dni.dirty &&  oForm.controls.dni.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputnombre" class="col-sm-2 col-form-label">nombre</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['required'] &&
            oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['minlength'] 
              && oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength'] 
              ||  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength'] ||  
              oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']}" id="inputnombre"
              formControlName="nombre">
            <div id="inputnombreFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputnombreFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputnombreFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputapellido1" class="col-sm-2 col-form-label">apellido1</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.apellido1.dirty && !oForm.controls.apellido1.errors?.['required'] &&
            oForm.controls.apellido1.dirty && !oForm.controls.apellido1.errors?.['minlength'] 
              && oForm.controls.apellido1.dirty && !oForm.controls.apellido1.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['minlength'] 
              ||  oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['maxlength'] ||  
              oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['required']}" id="inputapellido1"
              formControlName="apellido1">
            <div id="inputapellido1Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputapellido1Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputapellido1Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido1.dirty &&  oForm.controls.apellido1.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputapellido2" class="col-sm-2 col-form-label">apellido2</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.apellido2.dirty && !oForm.controls.apellido2.errors?.['required'] &&
            oForm.controls.apellido2.dirty && !oForm.controls.apellido2.errors?.['minlength'] 
              && oForm.controls.apellido2.dirty && !oForm.controls.apellido2.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['minlength'] 
              ||  oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['maxlength'] ||  
              oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['required']}" id="inputapellido2"
              formControlName="apellido2">
            <div id="inputapellido2Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputapellido2Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputapellido2Feedback" class="invalid-feedback"
              *ngIf="oForm.controls.apellido2.dirty &&  oForm.controls.apellido2.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.email.dirty && !oForm.controls.email.errors?.['required'] &&
            oForm.controls.email.dirty && !oForm.controls.email.errors?.['pattern'],
              'is-invalid' :  oForm.controls.email.dirty &&  oForm.controls.email.errors?.['pattern'] ||
              oForm.controls.email.dirty &&  oForm.controls.email.errors?.['required']}" id="inputEmail"
              formControlName="email">
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.email.dirty &&  oForm.controls.email.errors?.['pattern']">
              El formato no es adecuado
            </div>
            <div id="inputEmailFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.email.dirty &&  oForm.controls.email.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputlogin" class="col-sm-2 col-form-label">login</label>
          <div class="col-sm-4 has-validation">
            <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.login.dirty && !oForm.controls.login.errors?.['required'] &&
            oForm.controls.login.dirty && !oForm.controls.login.errors?.['minlength'] 
              && oForm.controls.login.dirty && !oForm.controls.login.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.login.dirty &&  oForm.controls.login.errors?.['minlength'] 
              ||  oForm.controls.login.dirty &&  oForm.controls.login.errors?.['maxlength'] ||  
              oForm.controls.login.dirty &&  oForm.controls.login.errors?.['required']}" id="inputlogin"
              formControlName="login">
            <div id="inputloginFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.login.dirty &&  oForm.controls.login.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputloginFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.login.dirty &&  oForm.controls.login.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputloginFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.login.dirty &&  oForm.controls.login.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputpassword" class="col-sm-2 col-form-label">password</label>
          <div class="col-sm-4 has-validation">
            <input type="password" class="form-control" [ngClass]="{'is-valid' : oForm.controls.password.dirty && !oForm.controls.password.errors?.['required'] &&
            oForm.controls.password.dirty && !oForm.controls.password.errors?.['minlength'] 
              && oForm.controls.password.dirty && !oForm.controls.password.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.password.dirty &&  oForm.controls.password.errors?.['minlength'] 
              ||  oForm.controls.password.dirty &&  oForm.controls.password.errors?.['maxlength'] ||  
              oForm.controls.password.dirty &&  oForm.controls.password.errors?.['required']}" id="inputpassword"
              formControlName="password">
            <div id="inputpasswordFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.password.dirty &&  oForm.controls.password.errors?.['minlength']">
              La longitud mínima es de 5 caracteres.
            </div>
            <div id="inputpasswordFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.password.dirty &&  oForm.controls.password.errors?.['maxlength']">
              La longitud máxima es de 10 caracteres.
            </div>
            <div id="inputpasswordFeedback" class="invalid-feedback"
              *ngIf="oForm.controls.password.dirty &&  oForm.controls.password.errors?.['required']">
              El campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputUsertype" class="col-sm-2 col-form-label">Tipo usuario</label>
          <div class="col-sm-6 has-validation">
            <div class="input-group">
              <span *ngIf="tipousuarioNombre !== ''" class="input-group-text">{{tipousuarioNombre}}</span>
              <input type="number" class="form-control" formControlName="id_tipousuario" [ngClass]="{'is-valid' : 
              oForm.controls.id_tipousuario.dirty && !oForm.controls.id_tipousuario.errors?.['required'] &&
               !oForm.controls.id_tipousuario.errors?.['pattern'],
                'is-invalid' :  (oForm.controls.id_tipousuario.dirty &&  oForm.controls.id_tipousuario.errors?.['required'] )
                || ( oForm.controls.id_tipousuario.dirty &&  oForm.controls.id_tipousuario.errors?.['pattern'])}">
              <button type="button" class="btn btn-primary" (click)="showForeignModal()">Buscar</button>
            </div>
            <div class="text-danger"
              *ngIf="oForm.controls.id_tipousuario.dirty &&  oForm.controls.id_tipousuario.errors?.['required']">
              El campo es obligatorio.
            </div>
            <div class="text-danger"
              *ngIf="oForm.controls.id_tipousuario.dirty &&  oForm.controls.id_tipousuario.errors?.['pattern']">
              El campo ha de ser un entrero de máximo 6 dígitos.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"
          [disabled]="oForm.invalid">Guardar</button>

      </form>

    </div>
  </div>
</div>



<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{modalContent}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" [id]="ajena" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-tipousuario-plist-admin-unrouted (tipousuarioSelected)="setTipousario($event)" (tipousuarioNombre)="setTipousuarioNombre($event)"></app-tipousuario-plist-admin-unrouted>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

