<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Vista de una Operacion</h1>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{oIOperacion?.id}}</td>
                    </tr>
                    <tr>
                        <td>FECHA CREACIÓN</td>
                        <td>{{oIOperacion?.fechahoraoperacion | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>CANTIDAD</td>
                        <td>{{oIOperacion?.cantidad | number:'1.2-2'}}€</td>
                    </tr>
                    <tr>
                        <td>TIPO OPERACION</td>
                        <td>{{oIOperacion?.tipooperacion.id}}-{{oIOperacion?.tipooperacion.nombre}}</td>
                    </tr>

                    <tr>
                        <td>CUENTA EMISOR</td>
                        <td>{{oIOperacion?.emisorCuentaEntity.id}}-{{oIOperacion?.emisorCuentaEntity.usuario.nombre}}</td>
                    </tr>
                    <tr>
                        <td>CUENTA RECEPTOR</td>
                        <td>{{oIOperacion?.receptorCuentaEntity.id}}-{{oIOperacion?.receptorCuentaEntity.usuario.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
