<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Datos de una cuenta</h1>
            <table class="table table-bordered table-striped mb-5">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{oICuenta?.id}}</td>
                    </tr>
                    <tr>
                        <td>FECHA CREACIÓN</td>
                        <td>{{oICuenta?.fechacreacion | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>ID USUARIO</td>
                        <td>{{oICuenta?.usuario.id}}-{{oICuenta?.usuario.nombre}}</td>
                    </tr>

                    <tr>
                        <td>ID USUARIO</td>
                        <td>{{oICuenta?.tipocuenta.id}}-{{oICuenta?.tipocuenta.nombre}}</td>
                    </tr>
                    <tr>
                        <td>IBAN</td>
                        <td>{{oICuenta?.iban}}</td>
                    </tr>
                    <tr>
                        <td>ACTIVA</td>
                        <td>{{oICuenta?.activa}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h1 class="text-center mb-4">Saldo</h1>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>ID Cuenta</th>
                        <th>Saldo real</th>
                        <th>Saldo beneficio</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{oSaldoCuenta.idCuenta}}</td>
                            <td>{{oSaldoCuenta.saldoReal}}</td>
                            <td>{{oSaldoCuenta.saldoBeneficio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
